In [1]:
#importando algumas bibliotecas que serão úteis
import pandas as pd #manipular tabela
import seaborn as sns #manipular grafico
import numpy as np #operações numpy
import matplotlib.pyplot as plt #manipular grafico

In [10]:
df = pd.read_csv("/workspaces/statistics/descriptive statistics module/house_price.csv")
df

,Unnamed: 0,SalePrice,OverallQual,OverallCond,BedroomAbvGr,TotRmsAbvGrd,GrLivArea,TotalBsmtSF,YearBuilt,MSZoning,Utilities,BldgType
0,0,208500,7,5,3,8,1710,856,2003,RL,AllPub,1Fam
1,1,181500,6,8,3,6,1262,1262,1976,RL,AllPub,1Fam
2,2,223500,7,5,3,6,1786,920,2001,RL,AllPub,1Fam
3,3,140000,7,5,3,7,1717,756,1915,RL,AllPub,1Fam
4,4,250000,8,5,4,9,2198,1145,2000,RL,AllPub,1Fam
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,175000,6,5,3,7,1647,953,1999,RL,AllPub,1Fam
1456,1456,210000,6,6,3,7,2073,1542,1978,RL,AllPub,1Fam
1457,1457,266500,7,9,4,9,2340,1152,1941,RL,AllPub,1Fam
1458,1458,142125,5,6,2,5,1078,1078,1950,RL,AllPub,1Fam
1459,1459,147500,5,6,3,6,1256,1256,1965,RL,AllPub,1Fam