# Primeiro Exercício da Aula 1

In [1]:
#importando algumas bibliotecas que serão úteis
import pandas as pd #manipular tabela
import seaborn as sns #manipular grafico
import numpy as np #operações numpy
import matplotlib.pyplot as plt #manipular grafico

In [10]:
df = pd.read_csv("/workspaces/statistics/descriptive statistics module/house_price.csv")
df

,Unnamed: 0,SalePrice,OverallQual,OverallCond,BedroomAbvGr,TotRmsAbvGrd,GrLivArea,TotalBsmtSF,YearBuilt,MSZoning,Utilities,BldgType
0,0,208500,7,5,3,8,1710,856,2003,RL,AllPub,1Fam
1,1,181500,6,8,3,6,1262,1262,1976,RL,AllPub,1Fam
2,2,223500,7,5,3,6,1786,920,2001,RL,AllPub,1Fam
3,3,140000,7,5,3,7,1717,756,1915,RL,AllPub,1Fam
4,4,250000,8,5,4,9,2198,1145,2000,RL,AllPub,1Fam
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,175000,6,5,3,7,1647,953,1999,RL,AllPub,1Fam
1456,1456,210000,6,6,3,7,2073,1542,1978,RL,AllPub,1Fam
1457,1457,266500,7,9,4,9,2340,1152,1941,RL,AllPub,1Fam
1458,1458,142125,5,6,2,5,1078,1078,1950,RL,AllPub,1Fam
1459,1459,147500,5,6,3,6,1256,1256,1965,RL,AllPub,1Fam

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1460 non-null   int64
 1   SalePrice     1460 non-null   int64
 2   OverallQual   1460 non-null   int64
 3   OverallCond   1460 non-null   int64
 4   BedroomAbvGr  1460 non-null   int64
 5   TotRmsAbvGrd  1460 non-null   int64
 6   GrLivArea     1460 non-null   int64
 7   TotalBsmtSF   1460 non-null   int64
 8   YearBuilt     1460 non-null   int64
 9   MSZoning      1460 non-null   object
 10  Utilities     1460 non-null   object
 11  BldgType      1460 non-null   object
dtypes: int64(9), object(3)
memory usage: 137.0+ KB

In [12]:
df.isnull().sum()

Unnamed: 0      0
SalePrice       0
OverallQual     0
OverallCond     0
BedroomAbvGr    0
TotRmsAbvGrd    0
GrLivArea       0
TotalBsmtSF     0
YearBuilt       0
MSZoning        0
Utilities       0
BldgType        0
dtype: int64

In [21]:
mean = df['SalePrice'].mean()
median = df['SalePrice'].median()
mode = df['SalePrice'].mode()

print('mean:', mean, ', median:', median, ', mode:', mode)

mean: 180921.19589041095 , median: 163000.0 , mode: 0    140000
Name: SalePrice, dtype: int64

In [22]:
df['SalePrice'].describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64